 .title{
   font-size: 28px;
   font-family: arial;
   font-weight: bold;
   text-decoration: underline;
 }
 .todoname{
  width: 230px;
  height: 33px;
  box-shadow: inset 2px 2px 6px paleturquoise;
  border-radius: 2px;
 }
  .todoname::placeholder{
   font-size: 14px;
   padding: 4px;
   font-weight: bold;
 }
 .name-display{
     width: 230px;
     display: inline-block;
     font-family: arial;
     font-size: 17px;
 }
 .date{
  width: 110px;
  height: 33px;
  border-radius: 2px;
 }
 .date-display{
     font-family: arial;
     font-size: 17px;
     border: none;
     background-color: transparent; 
     width: 110px; 
 }
 .add{
  width: 55px;
  height: 33px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  background-color: green;
  color: white;
  padding: 4px;
  font-weight: bold;
 }
  .delet{
  width: 55px;
  height: 30px;
  font-size: 14px;
  border-radius: 2px;
  background-color: rgb(199, 12, 21);
  color: white;
  padding: 4px;
  font-weight: bold;
 }